{% extends 'base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <h1>Оформление заказа</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.user.label_tag }} {{ form.user }}  <!-- Поле для выбора пользователя -->
        <button type="submit">Оформить заказ</button>  <!-- Кнопка для отправки формы заказа -->
        <h2>Выберите товары:</h2>
        <div class="product-grid">  <!-- Контейнер для размещения карточек товаров в виде сетки -->
            {% for product in products %}
                <div class="product-card">  <!-- Карточка отдельного товара -->
                    {% if product.image %}
                        <!-- Изображение товара, если оно доступно -->
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                    {% else %}
                        <!-- Замещающий элемент, если изображение отсутствует -->
                        <div class="product-image">Изображение отсутствует</div>
                    {% endif %}
                    <div class="product-info">  <!-- Контейнер для информации о товаре -->
                        <div class="product-name">{{ product.name }}</div>  <!-- Название товара -->
                        <div class="product-price">{{ product.price }} руб.</div>  <!-- Цена товара -->
                        <input type="checkbox" class="checkbox-size" name="products" value="{{ product.id }}" id="product_{{ product.id }}">  <!-- Чекбокс для выбора товара -->
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit">Оформить заказ</button>  <!-- Кнопка для отправки формы заказа -->
    </form>

    <style>
        /* Стили для создания плитки по 3 карточки в строке */
        .product-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);  /* 3 колонки с равной шириной */
            gap: 10px;  /* Расстояние между карточками */
        }
        .product-card {
            border: 1px solid #ccc;  /* Граница карточки */
            padding: 10px;  /* Внутренние отступы */
            text-align: center;  /* Центрирование содержимого */
        }
        .product-image {
            max-width: 100%;  /* Изображение не превышает ширину карточки */
            height: auto;  /* Сохранение пропорций изображения */
        }
        .product-name {
            font-weight: bold;  /* Жирный шрифт для названия товара */
        }
        .product-price {
            color: #4B0082;  /* Цвет для цены */
            font-weight: bold;
            font-size: 25px; /* Размер шрифта */
        }
        .checkbox-size {
            width: 20px;  /* Ширина чекбокса */
            height: 20px; /* Высота чекбокса */
        }

    </style>
{% endblock %}